In [0]:
%python
dados = [
("Grimaldo","Oliveira","Brasileira","Professor","M",3000),
("Ana ","Santos","Portuguesa","Atriz","F",4000),
("Roberto","Carlos","Brasileira","Analista","M",4000),
("Maria","Santanna","Italiana","Dentista","F",6000),
("Jeane","Andrade","Inglesa","Medica","F",7000)]

colunas=["Primeiro_Nome","Ultimo_nome","Nacionalidade","Trabalho","Genero","Salario"]

datafparquet=spark.createDataFrame(dados,colunas)
datafparquet.show()

+-------------+-----------+-------------+---------+------+-------+
|Primeiro_Nome|Ultimo_nome|Nacionalidade| Trabalho|Genero|Salario|
+-------------+-----------+-------------+---------+------+-------+
|     Grimaldo|   Oliveira|   Brasileira|Professor|     M|   3000|
|         Ana |     Santos|   Portuguesa|    Atriz|     F|   4000|
|      Roberto|     Carlos|   Brasileira| Analista|     M|   4000|
|        Maria|   Santanna|     Italiana| Dentista|     F|   6000|
|        Jeane|    Andrade|      Inglesa|   Medica|     F|   7000|
+-------------+-----------+-------------+---------+------+-------+

In [0]:
datafparquet.write.parquet("/FileStore/tables/parquet/pessoal.parquet")

In [0]:
datafparquet.write.mode('overwrite').parquet('/FileStore/tables/parquet/pessoal.parquet')

In [0]:
datafleitura= spark.read.parquet("/FileStore/tables/parquet/pessoal.parquet")
datafleitura.show()

+-------------+-----------+-------------+---------+------+-------+
|Primeiro_Nome|Ultimo_nome|Nacionalidade| Trabalho|Genero|Salario|
+-------------+-----------+-------------+---------+------+-------+
|     Grimaldo|   Oliveira|   Brasileira|Professor|     M|   3000|
|      Roberto|     Carlos|   Brasileira| Analista|     M|   4000|
|        Maria|   Santanna|     Italiana| Dentista|     F|   6000|
|         Ana |     Santos|   Portuguesa|    Atriz|     F|   4000|
|        Jeane|    Andrade|      Inglesa|   Medica|     F|   7000|
+-------------+-----------+-------------+---------+------+-------+

In [0]:
datafleitura.createOrReplaceTempView("Tabela_Parquet")
ResultSQL = spark.sql("select * from Tabela_Parquet where salario >= 6000 ")
ResultSQL.show()

+-------------+-----------+-------------+--------+------+-------+
|Primeiro_Nome|Ultimo_nome|Nacionalidade|Trabalho|Genero|Salario|
+-------------+-----------+-------------+--------+------+-------+
|        Maria|   Santanna|     Italiana|Dentista|     F|   6000|
|        Jeane|    Andrade|   Portuguesa|  Medica|     F|   7000|
+-------------+-----------+-------------+--------+------+-------+